#container{
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
    


}

input{

padding: 5px;
margin-top: 5px;
background-color: white;
width: 40px;
height: 40px;
border: none;
cursor:pointer;
}

#juego{
    margin-left:auto;
    margin-right:auto;
}

#fila1{
    width: fit-content;
    
    border-bottom: 2px solid black;
}

#fila2{
    width: fit-content;
    border-bottom: 2px solid black;
}

#fila3{
    width: fit-content;
    
}

.col1{
    border-right: 2px solid black;
}

.col2{
    border-right: 2px solid black;
}

#reset{
    background-color: lightgrey;
    border: 2px solid black;
    width: fit-content;
}